.flex{
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 50%;
    
}
.logo{
    padding: 10px;
}
.search{
    padding-top: 70px;
}

.nav-self{
    margin: 0 30%;
}

.title{
    color:aqua;
    text-align: center;
}
.description{
    padding: 0 15px;
    font-size: 20px;
}
.img-adjust{
    width: 84%;
}
.child-title{
    color: orange;
}
.price{
    color: red;
}
.footer{
    background-color:rgb(22, 226, 219);
    color:#fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
}